<template>
    <Page class="home">
        <template>
            <ActionBar class="my-action-bar">
                <Label class="my-action-bar-title" text="Gère Ma Forme" />
            </ActionBar>
        </template>
        <ScrollView>
            <StackLayout class="form grid">
                <GridLayout columns="max/7, auto, auto, auto, auto, auto, *" rows="80, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto,*" VerticalAlignement="center" HorizontalAlignement="center">
                    <Image src="~/images/plus.png" @tap="onButtonCreateAccountTap" row="0" col="3" rowSpan="1" />
                    <Label text="Bienvenue, connectez-vous à votre compte pour gérer votre forme :" textWrap="true" class="info" row="1" col="1" colSpan="5"/>
                    <Label text="" row="2" col="1" colSpan="5" />
                    <Label text="Pseudo :" class="info" row="3"  col="1" colSpan="5" />
                    <TextField v-model="pseudo" class="formInput" textWrap="true" row="4" col="1" colSpan="5"/>
                    <Label text="" row="5" col="1" colSpan="5" />
                    <Label text="" row="6" col="1" colSpan="5" />
                    <Label text="Mot de passe :" class="info" row="7"  col="1" colSpan="5" />
                    <TextField v-model="password" class="formInput" secure="true" textWrap="true" row="8" col="1" colSpan="5"/>
                    <Label text="" row="9" col="1" colSpan="5" />
                    <Label text="" row="10" col="1" colSpan="5" />
                    <Label text="" row="11" col="1" colSpan="5" />
                    <template>
                        <Button text="Connexion" @tap="onButtonConnexion" class="btn btn-primary btn-active btnConnexion" row="12" col="2" rowSpan="3" colSpan="3"/>
                    </template>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </Page>
</template>

<script>
    import Page from "./Page";
    import Home from "./Home";
    import CreateAccount from "./CreateAccount";
    import profiles from "../data/profiles.json";
    export default {
        props: ['coloringparam'],
        data () {
            return {
                pseudo: '',
                password: '',
                profiles: profiles,
            }
        },
        mounted () {
            this.coloring = this.coloringparam;
        },
        computed: {

        },
        methods: {
            onButtonConnexion() {
                // for(profile in profiles){
                    // if(this.pseudo === profile.pseudo && this.password === profile.password) {
                        this.$navigateTo(Page, { props: { coloringparam: this.coloring }});
                    // }
                    // else {
                    //     this.$navigateTo(Home, { props: { coloringparam: this.coloring }});
                    // }
                // }
            },
            onButtonCreateAccountTap() {
                this.$navigateTo(CreateAccount, { props: { coloringparam: this.coloring }});
            },
        },
    };
</script>

<style scoped lang="scss">
    // Start custom common variables
    @import '../app-variables';
    // End custom common variables
    .action-bar-title-light{
        color: white;
    }
    .action-bar-light{
        background-color: $accent-light;
    }
    .btn-light{
        color: white;
        background-color: $accent-light;
        height : 50%;
        width : 50%;
        padding : 0;
        margin : 0;
    }
    // Custom styles
    .grid {
        margin-right: 17%;
        margin-left: 17%;
    }

    .formInput {
        border-color: black;
    }

    .btnConnexion {
        height: 200px;
    }

    .fa {
        color: $accent-dark;
    }

    .info {
        font-size: 20;
    }

    .my-action-bar {
        background-color: white;
    }
    .my-action-bar-title {
        color: #999999;
        font-size: 30;
    }
</style>