<template>
    <Page class="mapvertical">
        <template v-if="$props.coloringparam">
        <ActionBar class="action-bar">
            <Label class="action-bar-title" text="Gère Ma Forme"></Label>
        </ActionBar>
        </template>
        <template v-else>
        <ActionBar class="action-bar-light">
            <Label class="action-bar-title" text="Gère Ma Forme"></Label>
        </ActionBar>
        </template>

        <GridLayout columns="52, 52, 52, 52, 52, 52, 52" rows="80, 80, 80, 80, 80, 80, 80">
            <Image src="~/images/mapvertical.png" @tap="onButtonMapTap" row="0" col="0" rowSpan="7" colSpan="7"/>
        </GridLayout>
    </Page>
</template>

<script>

    import Run from "./Run";

    export default {
        props: ['coloringparam'],
        data () {
            return {
                coloring : '',
            }
        },
        mounted () {
            this.coloring = this.coloringparam;
        },
        computed: {
        },
        methods: {
            onButtonMapTap() {    
                this.$navigateTo(Run, { props: { coloringparam: this.coloring }});
            },
        },
    };
</script>

<style scoped lang="scss">
    // Start custom common variables
    @import '../app-variables';
    // End custom common variables

    // Custom styles
    .fa {
        color: $accent-dark;
    }

    .info {
        font-size: 20;
    }
</style>