<template>
    <Page class="nutrition">
        <template v-if="$props.coloringparam">
        <ActionBar class="action-bar">
            <Label class="action-bar-title" text="Gère Ma Forme"></Label>
        </ActionBar>
        </template>
        <template v-else>
        <ActionBar class="action-bar-light">
            <Label class="action-bar-title" text="Gère Ma Forme"></Label>
        </ActionBar>
        </template>
        <ScrollView>
        <GridLayout columns="52, 52, 52, 52, 52, 52, 52" rows="80, 80, 80, 80, 80, 80, 80">
            <Image src="~/images/back.png" @tap="onButtonTap" row="0" col="3"/>
            <Label :text="message" textWrap="true" class="info" row="1" col="1" rowSpan="2" colSpan="5"/>
            <Image src="~/images/avocado.png" row="3" col="2" rowSpan="1"/>
            <Label :text="messagelipides" verticalAlignment="center" textWrap="true" class="info" row="3" col="4" rowSpan="1" colSpan="1"/>
            <Image src="~/images/pasta.png" row="4" col="2" rowSpan="1"/>
            <Label :text="messageglucides" verticalAlignment="center" textWrap="true" class="info" row="4" col="4" rowSpan="1" colSpan="1"/>
            <Image src="~/images/fish.png" row="5" col="2" rowSpan="1"/>
            <Label :text="messageprotides" verticalAlignment="center" textWrap="true" class="info" row="5" col="4" rowSpan="1" colSpan="1"/>
        </GridLayout>
        </ScrollView>
    </Page>
</template>

<script>

    import Page from "./Page";

    export default {
        props: ['coloringparam'],
        data () {
            return {
                coloring : '',
            }
        },
        mounted () {
            this.coloring = this.coloringparam;
        },
        computed: {
            message() {
                return "Votre recommandation nutritionnelle en lipides, glucides et protides :";
            },
            messagelipides() {
                return "40 %";
            },
            messageglucides() {
                return "40 %";
            },
            messageprotides() {
                return "20 %";
            },
        },
        methods: {
            onButtonTap() {    
                this.$navigateTo(Page, { props: { coloringparam: this.coloring }});
            },
        },
    };
</script>

<style scoped lang="scss">
    // Start custom common variables
    @import '../app-variables';
    // End custom common variables
    .action-bar-title-light{
        color: white;
    }
    .action-bar-light{
        background-color: $accent-light;
    }
    .btn-light{
        color: white;
        background-color: $accent-light;
        height : 50%;
        width : 50%;
        padding : 0;
        margin : 0;
    }
    // Custom styles
    .fa {
        color: $accent-dark;
    }

    .info {
        font-size: 20;
    }
</style>