<template>
    <Page class="page">
            <template>
                <ActionBar class="my-action-bar">
                    <Label class="my-action-bar-title" text="Gère Ma Forme" />
                </ActionBar>
            </template>
        <ScrollView>
            <GridLayout columns="max/7, auto, auto, auto, auto, auto, *" rows="auto, 60">
                <GridLayout columns="max/7, auto, auto, auto, auto, auto, *" rows="30, 80, auto, auto, auto, auto, auto, *, 60" VerticalAlignement="center" HorizontalAlignement="center">
                    <DockLayout stretchLastChild="false" row="1" colSpan="max">
                        <template v-if="running === false">
                            <Image dock="left" src="~/images/icons8-running-96-material-Outliner.png" @tap="onButtonRunnerTap" width="40%" />
                            <Label textWrap="true" dock="right" text="Demarrer une course" @tap="onButtonRunnerTap" width="60%" class="textStart" />
                        </template>
                        <template v-else>
                            <Image dock="left" :src="src" @tap="onButtonPlayTap" width="50%" />
                            <Image dock="right" src="~/images/stop.png" @tap="onButtonStopTap" width="50%" />
                        </template>
                    </DockLayout>
                    <Label text="" row="2" col="1" colSpan="5" />
                    <Image src="~/images/map.png" row="3" col="1" colSpan="5"/>
                    <Label text="" row="4" col="1" colSpan="5" />
                    <Label text="Vous avez parcouru 14 km à une vitesse de 14 km/h en 1h00m00s." textWrap="true" class="info grid" row="5" col="1" rowSpan="2" colSpan="5"/>
                    <Label text="" row="6" col="1" colSpan="5" />
                    <Label text="" row="7" col="1" colSpan="7" />
                </GridLayout>
                <DockLayout stretchLastChild="false" row="8" colSpan="7">
                    <Label text="" width="12%" />
                    <Image dock="left" src="~/images/icons8-user-96.png" @tap="onButtonProfilTap" width="18%" />
                    <Label text="" width="11%" />
                    <Image class="activeBtn" src="~/images/icons8-waypoint-map-96-material_Outlined.png" @tap="onButtonMapTap" width="18%" />
                    <Label text="" width="11%" />
                    <Image src="~/images/icons8-heart-with-pulse-96.png" @tap="onButtonRunTap" width="18%" />
                    <Label dock="right" text="" width="12%" />
                </DockLayout>
            </GridLayout>
        </ScrollView>
    </Page>
</template>

<script>

    import Home from "./Home";
    import Profile from "./Profile";
    import MapVertical from "./MapVertical";
    import Nutrition from "./Nutrition";
    import Run from "./Run";

    export default {
        props: ['coloringparam'],
        data () {
            return {
                coloring : '',
                running: false,
                src: '~/images/play.png',
            }
        },
        mounted () {
            this.coloring = this.coloringparam;
        },
        computed: {
            message() {
                return "Vous avez parcouru 14 km à une vitesse de 14 km/h en 1h00m00s.";
            },
        },
        methods: {
            onButtonTap() {
                this.$navigateTo(Home, { props: { coloringparam: this.coloring }});
            },
            onButtonRunnerTap() {
                this.running = true;
            },
            onButtonProfilTap() {    
                this.$navigateTo(Profile, { props: { coloringparam: this.coloring }});
            },
            onButtonNutritionTap() {    
                this.$navigateTo(Nutrition, { props: { coloringparam: this.coloring }});
            },
            onButtonRunTap() {    
                this.$navigateTo(Run, { props: { coloringparam: this.coloring }});
            },
            onButtonPlayTap() {
                if(this.src === '~/images/play.png')
                    this.src = '~/images/pause.png';
                else
                    this.src = '~/images/play.png';
            },
            onButtonStopTap() {
                this.running = false;
            },
        },
    };
</script>

<style scoped lang="scss">
    // Start custom common variables
    @import '../app-variables';
    // End custom common variables
    .action-bar-title-light{
        color: white;
    }
    .action-bar-light{
        background-color: $accent-light;
    }
    .btn-light{
        color: white;
        background-color: $accent-light;
        height : 50%;
        width : 50%;
        padding : 0;
        margin : 0;
    }
    // Custom styles
    .grid {
        margin-right: 17%;
        margin-left: 17%;
    }

    .fa {
        color: $accent-dark;
    }

    .info {
        font-size: 20;
    }

    .textStart {
        text-align: center;
        color: red;
        font-size: 30;
    }

    .activeBtn {
        border-radius: 70%;
        border-color: #ff3333;
        border-width: 3;
    }

    .my-action-bar {
        background-color: white;
    }
    .my-action-bar-title {
        color: #999999;
        font-size: 30;
    }
</style>