<template>
    <Page class="profile">
        <template>
            <ActionBar class="my-action-bar">
                <Label class="my-action-bar-title" text="Gère Ma Forme" />
            </ActionBar>
        </template>
        <ScrollView>
            <StackLayout>
                <GridLayout  columns="max/7, auto, auto, auto, auto, auto, *" rows="10, 40, auto, 60">
                    <Label text="" row="0" />
                    <DockLayout row="1" stretchLastChild="false">
                        <Image dock="right" class="margining" src="~/images/icons8-shutdown-96-metrail-Outliner.png" @tap="disconnect" />
                    </DockLayout>
                    <GridLayout row="2" class="grid" columns="max/7, auto, auto, auto, auto, auto, *" rows="20, auto, 2, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, *" VerticalAlignement="center" HorizontalAlignement="center">
                        <Label text="Voici vos informations générales :" textWrap="true" class="info" row="1" col="1" colSpan="5"/>
                        <Label text="" row="2" col="1" colSpan="5" />
                        <Label text="" row="3" col="1" colSpan="5" />
                        <Label text="Sexe :" class="info" row="4"  col="1" rowSpan="1" colSpan="1" />
                        <Label v-model="sexe" class="info" row="5"  col="3" rowSpan="1" colSpan="2" />
                        <Label text="" row="6" col="1" colSpan="5" />
                        <Label text="Âge :" class="info" row="7"  col="1" rowSpan="1" colSpan="1" />
                        <Label v-model="age" class="info" row="8"  col="3" rowSpan="1" colSpan="2" />
                        <Label text="" row="9" col="1" colSpan="5" />
                        <Label text="Taille :" class="info" row="10"  col="1" rowSpan="1" colSpan="1" />
                        <Label v-model="taille" class="info" row="11"  col="3" rowSpan="1" colSpan="2" />
                        <Label text="" row="12" col="1" colSpan="5" />
                        <Label text="Poids :" class="info" row="13"  col="1" rowSpan="1" colSpan="1" />
                        <Label v-model="poids" class="info" row="14"  col="3" rowSpan="1" colSpan="2" />
                        <Label text="" row="15" col="1" colSpan="5" />
                        <Button text="Modifier mon compte"  @tap="onButtonModifTap" class="btn btn-primary btn-active btnModifier" row="16" col="2" colSpan="3"/>
                        <Label text="" row="17" />
                    </GridLayout>
                    <DockLayout stretchLastChild="false" row="3" colSpan="7">
                        <Label text="" width="12%" dock="left" />
                        <Image class="activeBtn" src="~/images/icons8-user-96.png" @tap="onButtonProfilTap" width="18%" />
                        <Label text="" width="11%" />
                        <Image src="~/images/icons8-waypoint-map-96-material_Outlined.png" @tap="onButtonMapTap" width="18%" />
                        <Label text="" width="11%" />
                        <Image src="~/images/icons8-heart-with-pulse-96.png" @tap="onButtonRunTap"  width="18%" />
                        <Label dock="right" text="" width="12%" />
                    </DockLayout>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </Page>
</template>

<script>
    import Page from "./Page";
    import SelfInfo from "./SelfInfo";
    import Home from "./Home";
    import Run from"./Run";

    export default {
        props: ['coloringparam'],
        data () {
            return {
                coloring : '',
                sexe: 'Homme',
                taille: '190 cm',
                age: '22 ans',
                poids: '63 kg',
            }
        },
        mounted () {
            this.coloring = this.coloringparam;
        },
        computed: {

        },
        methods: {
            onButtonModifTap() {
                this.$navigateTo(SelfInfo, { props: { coloringparam: this.coloring, sexe: 'Homme', taille: '190 cm', age: '22 ans', poids: '63 kg',  }});
            },
            onButtonMapTap() {
                this.$navigateTo(Page, { props: { coloringparam: this.coloring }});
            },
            onButtonRunTap() {
                this.$navigateTo(Run, { props: { coloringparam: this.coloring }});
            },
            disconnect() {
                this.$navigateTo(Home, { props: { coloringparam: this.coloring }});
            }
        },
    };
</script>

<style scoped lang="scss">
    // Start custom common variables
    @import '../app-variables';
    // End custom common variables
    .action-bar-title-light{
        color: white;
    }
    .action-bar-light{
        background-color: $accent-light;
    }
    .btn-light{
        color: white;
        background-color: $accent-light;
        height : 50%;
        width : 50%;
        padding : 0;
        margin : 0;
    }
    // Custom styles
    .grid {
        margin-left: 17%;
        margin-right: 17%;
    }

    .formInput {
        border-color: black;
    }

    .btnModifier{
        height: 200px;
    }

    .fa {
        color: $accent-dark;
    }

    .info {
        font-size: 20;
    }

    .activeBtn {
        border-radius: 70%;
        border-color: #ff3333;
        border-width: 3;
    }

    .margining {
        margin-right: 5%;
    }

    .my-action-bar {
        background-color: white;
    }
    .my-action-bar-title {
        color: #999999;
        font-size: 30;
    }
</style>
