<template>
    <Page class="run">
        <template>
            <ActionBar class="my-action-bar">
                <Label class="my-action-bar-title" text="Gère Ma Forme" />
            </ActionBar>
        </template>
        <ScrollView>
            <GridLayout rows="50, 280, 200, 60" columns="max/7, auto, auto, auto, auto, auto, *">
                <GridLayout row="0" rowSpan="2" rows="60, auto, *, auto, auto" columns="max/7, auto, auto, auto, auto, auto, *">
                    <DockLayout stretchLastChild="false" row="0">
                        <Label text="" dock="right" width="1%" />
                        <Image src="~/images/icons8-combo-chart-96-material-Outlined.png" @tap="renderStats" width="32%" />
                        <Label text="" backgroundColor="black" width="1%" />
                        <Image src="~/images/icons8-sleeping-in-bed-96-material-Outlined.png" @tap="renderDodo" width="32%" />
                        <Label text="" backgroundColor="black" width="1%" />
                        <Image src="~/images/icons8-vegetarian-food-96.png" @tap="renderFood" width="32%" />
                        <Label text="" dock="right" width="1%" />
                    </DockLayout>
                    <Label class="bordering" text="" row="1" />
                    <Label text="" row="2" />
                    <DockLayout stretchLastChild="false" row="3">
                        <template v-if="rendering===1">
                            <Image :src="srcgraph" @tap="onEarthTap" />
                        </template>
                        <template v-else-if="rendering===2">
                            <GridLayout columns="52, 52, 52, 52, 52, *" rows="auto, auto, auto, auto, auto, *">
                                <Label text="Sieste ce jour" verticalAlignment="center" textWrap="true" class="info" row="3" col="1" rowSpan="1" colSpan="3"/>
                                <Label :text="messagesieste()" verticalAlignment="center" textWrap="true" class="info" row="3" col="4" rowSpan="1" colSpan="3"/>
                                <Label text="Nuit du jour" verticalAlignment="center" textWrap="true" class="info" row="4" col="1" rowSpan="1" colSpan="3"/>
                                <Label :text="messagejour()" verticalAlignment="center" textWrap="true" class="info" row="4" col="4" rowSpan="1" colSpan="3"/>
                                <Label text="Nuit de la semaine" verticalAlignment="center" textWrap="true" class="info" row="5" col="1" rowSpan="1" colSpan="3"/>
                                <Label :text="messagesemaine()" verticalAlignment="center" textWrap="true" class="info" row="5" col="4" rowSpan="1" colSpan="3"/>
                            </GridLayout>
                        </template>
                        <template v-else>
                            <GridLayout columns="52, 52, 52, 52, 52, *" rows="auto, auto, auto, auto, auto, *">
                                <Label text="Lipides" verticalAlignment="center" textWrap="true" class="info" row="3" col="1" rowSpan="1" colSpan="2"/>
                                <Image src="~/images/avocado.png" row="3" col="3" rowSpan="1"/>
                                <Label :text="messagelipides()" verticalAlignment="center" textWrap="true" class="info" row="3" col="4" rowSpan="1" colSpan="2"/>
                                <Label text="Glucides" verticalAlignment="center" textWrap="true" class="info" row="4" col="1" rowSpan="1" colSpan="2"/>
                                <Image src="~/images/pasta.png" row="4" col="3" rowSpan="1"/>
                                <Label :text="messageglucides()" verticalAlignment="center" textWrap="true" class="info" row="4" col="4" rowSpan="1" colSpan="2"/>
                                <Label text="Protides" verticalAlignment="center" textWrap="true" class="info" row="5" col="1" rowSpan="1" colSpan="2"/>
                                <Image src="~/images/fish.png" row="5" col="3" rowSpan="1"/>
                                <Label :text="messageprotides()" verticalAlignment="center" textWrap="true" class="info" row="5" col="4" rowSpan="1" colSpan="2"/>
                            </GridLayout>
                        </template>
                    </DockLayout>
                    <Label text="" row="4" />
                </GridLayout>
                <Label text="" row="2"/>
                <DockLayout stretchLastChild="false" row="3">
                    <Label text="" width="12%" />
                    <Image dock="left" src="~/images/icons8-user-96.png" @tap="onButtonProfilTap" width="18%" />
                    <Label text="" width="11%" />
                    <Image src="~/images/icons8-waypoint-map-96-material_Outlined.png" @tap="onButtonMapTap" width="18%" />
                    <Label text="" width="11%" />
                    <Image class="activeBtn" src="~/images/icons8-heart-with-pulse-96.png" @tap="onButtonRunTap" width="18%" />
                    <Label dock="right" text="" width="12%" />
                </DockLayout>
            </GridLayout>
        </ScrollView>
    </Page>
</template>

<script>

    import Page from "./Page";
    import MapRunVertical from "./MapRunVertical";
    import Profile from "./Profile";

    export default {
        props: ['coloringparam'],
        data () {
            return {
                coloring : '',
                src: '~/images/play.png',
                rendering: 1,
                srcgraph:  '~/images/graph2.png',
            }
        },
        mounted () {
            this.coloring = this.coloringparam;
            this.rendering = 1;
        },
        computed: {

        },
        methods: {
            messagesieste() {
                return " : 2 heures";
            },
            messagejour() {
                return " : 7 heures";
            },
            messagesemaine() {
                return " : 9 heures";
            },
            messagelipides() {
                return "    :   40 %";
            },
            messageglucides() {
                return "    :   40 %";
            },
            messageprotides() {
                return "    :   20 %";
            },
            onEarthTap(){
                if(this.srcgraph === '~/images/graph1.png')
                    this.srcgraph = '~/images/graph2.png';
                else
                    this.srcgraph = '~/images/graph1.png';
            },
            onButtonProfilTap() {
                this.$navigateTo(Profile, { props: { coloringparam: this.coloring }});
            },
            onButtonMapTap() {
                this.$navigateTo(Page, { props: { coloringparam: this.coloring }});
            },
            onButtonRunnerTap() {
                this.$navigateTo(MapRunVertical, { props: { coloringparam: this.coloring }});
            },
            onButtonPlayTap() {
                if(this.src === '~/images/play.png')
                    this.src = '~/images/pause.png';
                else
                    this.src = '~/images/play.png';
            },
            renderStats() {
                this.rendering = 1
            },
            renderDodo() {
                this.rendering = 2
            },
            renderFood() {
                this.rendering = 3
            }
        },
    };
</script>

<style scoped lang="scss">
    // Start custom common variables
    @import '../app-variables';
    // End custom common variables
    .action-bar-title-light{
        color: white;
    }
    .action-bar-light{
        background-color: $accent-light;
    }
    .btn-light{
        color: white;
        background-color: $accent-light;
        height : 50%;
        width : 50%;
        padding : 0;
        margin : 0;
    }
    // Custom styles
    .fa {
        color: $accent-dark;
    }

    .info {
        font-size: 20;
    }

    .grid {
        margin-right: 17%;
        margin-left: 17%;
        font-size: 20;
    }

    .activeBtn {
        border-radius: 70%;
        border-color: #ff3333;
        border-width: 3;
    }

    .bordering {
        height: 10px;
        background-color: black;
    }

    .my-action-bar {
        background-color: white;
    }
    .my-action-bar-title {
        color: #999999;
        font-size: 30;
    }
</style>