<template>
    <Page class="selfinfo">
        <template>
            <ActionBar class="my-action-bar">
                <Label class="my-action-bar-title" text="Gère Ma Forme" />
            </ActionBar>
        </template>
        <ScrollView>
            <StackLayout class="grid">
                <GridLayout columns="max/7, auto, auto, auto, auto, auto, *" rows="40, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, *" VerticalAlignement="center" HorizontalAlignement="center">
                    <Image src="~/images/icons8-back-96-material_Outlined.png" @tap="onButtonBackTap" row="0" col="3"/>
                    <Label text="Merci de renseignez quelques informations sur vous :" textWrap="true" class="info" row="1" col="1" colSpan="5"/>
                    <Label text="" row="2" col="1" colSpan="5" />
                    <Label text="Sexe :"  class="info" row="3"  col="1" colSpan="2" />
                    <TextField class="input" v-model="sexe" textWrap="true" row="4" col="1" colSpan="5"/>
                    <Label text="" row="5" col="1" colSpan="5" />
                    <Label text="Age :"  class="info" row="6"  col="1" colSpan="2" />
                    <TextField class="input" v-model="age" textWrap="true" row="7" col="1" colSpan="5"/>
                    <Label text="" row="8" col="1" colSpan="5" />
                    <Label text="Taille :"  class="info" row="9"  col="1" colSpan="2" />
                    <TextField class="input" v-model="taille" textWrap="true" row="10" col="1" colSpan="5"/>
                    <Label text="" row="11" col="1" colSpan="5" />
                    <Label text="Poids :"  class="info" row="12"  col="1" colSpan="2" />
                    <TextField class="input" v-model="poids" textWrap="true" row="13" col="1" colSpan="5"/>
                    <Label text="" row="14" col="1" colSpan="5" />
                    <template>
                        <Button text="Enregistrer mon compte"  @tap="onButtonTap" class="btn btn-primary btn-active btnCreation" row="15" col="2" colSpan="3"/>
                    </template>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </Page>
</template>

<script>
    import Page from "./Page";
    import CreateAccount from "./CreateAccount";
    export default {
        props: ['coloringparam', 'sexe', 'taille', 'age', 'poids'],
        data () {
            return {
                sexe : '',
                poids : '',
                age : '',
                taille : '',
                coloring : '',
            }
        },
        mounted () {
            this.coloring = this.coloringparam;
        },
        computed: {

        },
        methods: {
            onButtonTap() {
                this.$navigateTo(Page, { props: { coloringparam: this.coloring }});
            },
            onButtonBackTap() {
                this.$navigateTo(CreateAccount, { props: { coloringparam: this.coloring }});
            },
        },
    };
</script>

<style scoped lang="scss">
    // Start custom common variables
    @import '../app-variables';
    // End custom common variables
    .action-bar-title-light{
        color: white;
    }
    .action-bar-light{
        background-color: $accent-light;
    }
    .btn-light{
        color: white;
        background-color: $accent-light;
        height : 50%;
        width : 50%;
        padding : 0;
        margin : 0;
    }
    // Custom styles
    .grid {
        margin-left: 17%;
        margin-right: 17%;
    }

    .formInput {
        border-color: black;
    }

    .btnCreation {
        height: 200px;
    }

    .fa {
        color: $accent-dark;
    }

    .info {
        font-size: 20;
    }

    .my-action-bar {
        background-color: white;
    }
    .my-action-bar-title {
        color: #999999;
        font-size: 30;
    }
</style>