<template>
    <Page class="run" xmlns:ui="nativescript-image-zoom">
        <template v-if="$props.coloringparam">
        <ActionBar class="action-bar">
            <Label class="action-bar-title" text="Gère Ma Forme"></Label>
        </ActionBar>
        </template>
        <template v-else>
        <ActionBar class="action-bar-light">
            <Label class="action-bar-title" text="Gère Ma Forme"></Label>
        </ActionBar>
        </template>
        <ScrollView>
        <GridLayout columns="52, 52, 52, 52, 52, 52, 52" rows="80, 80, 80, 80, 80, 80, 80">
            <!--<Image src="~/images/back.png" @tap="onButtonTap" row="0" col="3"/>-->
            <!--<Image src="~/images/icons8-running-96.png" @tap="onButtonRunnerTap" row="1" col="3"/>-->
            <!--<ui:ImageZoom src="~/images/map.png" maxZoom="5" minZoom="2" row="2" col="1" rowSpan="2" colSpan="5" strech="AspectFill"/>-->
            <Image src="~/images/play.png" @tap="onButtonPlayTap" row="1" col="3"/>
            <!--<Image src="~/images/pause.png" @tap="onButtonPauseTap" row="6" col="3"/>-->
            <Image src="~/images/stop.png" @tap="onButtonStopTap" row="1" col="5"/>
            <Image src="~/images/map.png" row="2" col="2" rowSpan="2" colSpan="5" strech="AspectFill"/>
            <Label :text="message" textWrap="true" class="info" row="4" col="2" rowSpan="2" colSpan="5"/>
            

             <DockLayout stretchLastChild="false" row="8"  colSpan="7">
                    <Image dock="left" src="~/images/icons8-customer-96.png" @tap="onButtonProfilTap" width="33%" />
                    <Image src="~/images/icons8-waypoint-map-96.png"  width="33%" />
                    <Image dock="right" src="~/images/icons8-heart-with-pulse-96.png"  width="33%" />
                </DockLayout>
        </GridLayout>
        </ScrollView>
    </Page>
</template>

<script>

    import Page from "./Page";
    import MapRunVertical from "./MapRunVertical";
    import Profile from "./Profile";

    export default {
        props: ['coloringparam'],
        data () {
            return {
                coloring : '',
            }
        },
        mounted () {
            this.coloring = this.coloringparam;
        },
        computed: {
            message() {
                return "Vous avez parcouru 14 km à une vitesse de 14 km/h en 1h00m00s.";
            },
        },
        methods: {
            onButtonProfilTap() {    
                this.$navigateTo(Profile, { props: { coloringparam: this.coloring }});
            },
            onButtonTap() {    
                this.$navigateTo(Page, { props: { coloringparam: this.coloring }});
            }
        },
    };
</script>

<style scoped lang="scss">
    // Start custom common variables
    @import '../app-variables';
    // End custom common variables
    .action-bar-title-light{
        color: white;
    }
    .action-bar-light{
        background-color: $accent-light;
    }
    .btn-light{
        color: white;
        background-color: $accent-light;
        height : 50%;
        width : 50%;
        padding : 0;
        margin : 0;
    }
    // Custom styles
    .fa {
        color: $accent-dark;
    }

    .info {
        font-size: 20;
    }
</style>